#menu {
    width: 150px;
    height: 25px;
    background-color: var(--color-hamburger);
    position: relative;
}

#menu::after, #menu::before {
    content: "";
    display: block;
    width: 150px;
    height: 25px;
    background-color: var(--color-hamburger);
    position: absolute;

}

#menu::after {
    left: 0;
    bottom: -35px;
}

#menu::before {
    left: 0;
    bottom: -70px;
}




:root {
    --color-hamburger: hsl(334, 66%, 55%);
    /*--default-margin: 16px;*/
}